html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background-color: #f0f0ca;
    margin: 0;
}

main {
    flex-grow: 1;
}


.Topimg {
    position: absolute;
    overflow: hidden;
    background-image: url(Images/Group\ 15.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateX(-21px);
    width: 101%;
    height: 100%;
    z-index: -1;
}

.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    background-color: #1B3444;
    height: 80px;
    width: 100%;
    z-index: 10;
    padding-top: 10px;
    top: 0;
    animation: changeBg auto linear both;
    animation-timeline: scroll();
}

.NavBar nav {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    overflow: hidden;
    width: 500px;
    margin-right: 8%;
}

.NavBar nav a {
    display: inline-block;
    color: #F1F1DC;
    text-decoration: none;
    font-size: larger;
}

.NavBar nav a::before {
    content: attr(data-text);
    display: flex;
    color: #00ccff;
    text-decoration: underline;
    overflow: hidden;
    position: absolute;
    width: 0px;
    transition: 1s;
}

.NavBar nav a:hover:before {
    width: 100px;
}



.NavBar .Logo {
    display: flex;
    align-items: center;
    color: #F1F1DC;
    margin-left: 1%;
}

.NavBar .Logo p {
    font-size: larger;
    margin-left: 5%;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 1;
    box-shadow: 10px 20px 5px rgba(0, 0, 0, 0.286);
    border-radius: 20px;
    margin-top: 300px;
    margin-left: 15%;
    width: 800px;
    height: 400px;
    background-color: #1B3444;
}

.Header img {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 5%;
    left: 5%;
}

.Header .Banner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #2A4A7E;
    color: #F1F1DC;
    align-self: flex-end;
    font-size: x-large;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: -20px;
    width: 400px;
    height: 180px;
}

.Header .Banner ul {
    overflow: hidden;
    scrollbar-width: none;
    color: #D39E4D;
    margin-top: -120px;
    margin-left: 80px;
    height: 85px;
    width: 185px;
    animation: typing 4s steps(30) infinite;
}

@keyframes typing {
    0% {
        width: 0%;
    }

    40%,
    60% {
        width: 100%;
    }

    80%,
    100% {
        width: 0%;
    }
}

.Header .Banner ul h1 {
    animation: scrolling 12s infinite;
}

@keyframes scrolling {

    0%,
    30% {
        transform: translateY(-10%);
    }

    33%,
    60% {
        transform: translateY(-160%);
    }

    65%,
    100% {
        transform: translateY(-310%);
    }
}

.Header .About {
    background-color: #2A4A7E;
    color: #F1F1DC;
    text-align: center;
    font-size: x-large;
    width: 700px;
    height: 100px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
}

.Header .ScrollBtn button {
    position: absolute;
    background-color: #D39E4D;
    color: #F1F1DC;
    border: none;
    border-radius: 5px;
}

.Header .ScrollBtn .AboutScrollBtn {
    bottom: 15px;
    left: 55px;
    scale: 1.6;
    cursor: pointer;
}


.Header .ScrollBtn .ContactMeScrollBtn {
    bottom: 15px;
    left: 200px;
    scale: 1.5;
    cursor: pointer;
}

.AboutScrollBtn:active,
.ContactMeScrollBtn:active {
    filter: brightness(90%);
}








.HomeAbout {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-top: 65em;
}

.HomeAbout .SectionOne,
.HomeAbout .SectionTwo {
    height: 400px;
    width: 800px;
    margin-top: 10px;
    border-radius: 20px;
    color: #D39E4D;
    background-color: #1B3444;
}






.FeaturedProjects {
    flex-wrap: wrap;
    margin-top: 250px;
    width: 100%;
    margin-top: 10em;
}

.FeaturedProjects .Head {
    background-color: #1B3444;
    text-align: center;
    color: #D39E4D;
    justify-self: center;
    border-radius: 15px;
    width: 350px;
    margin-left: 70px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

}

.Projects .Section {
    display: block;
    width: 500px;
    height: 400px;
    box-shadow: 10px 5px;
    background-color: #1B3444;
    margin-top: 40px;
}

.Projects div .Notch {
    position: absolute;
    background-color: #D39E4D;
    box-shadow: none;
    display: block;
    width: 100px;
    height: 40px;
    margin-top: -250px;
    margin-left: 200px;
}

.Projects .Section h1 {
    display: inherit;
    color: whitesmoke;
    text-align: center;
}

.Projects .Section p {
    display: inherit;
    color: whitesmoke;
    text-align: center;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

.Projects div .Panel {
    display: inherit;
    display: block;
    overflow: hidden;
    background-color: #749CDE;
    width: 400px;
    height: 200px;
    margin-top: 5%;
    margin-left: 10%;

}





.FeaturedProjects .Projects .One .Panel {
    background-color: #69696969;
}

.FeaturedProjects .Projects .One .Panel .Decor {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    border-right: 1px solid whitesmoke;
    padding-top: 10px;
    height: 100%;
    width: 30%;
}




.FeaturedProjects .Projects .Two .Panel {
    display: flex
}

.FeaturedProjects .Projects .Two .Panel .Lightimg {
    width: 100%;
    clip-path: polygon(00% 00%, 100% 00%, 00% 100%);
}

.FeaturedProjects .Projects .Two .Panel .Darkimg {
    width: 100%;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    margin-left: -400px;
}



.FeaturedProjects .Projects .Three .Panel {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.FeaturedProjects .Projects .Three .Panel img {
    width: 135px;
    margin-right: -15%;
    margin-left: 5%;
}






.HomeContact {
    display: flex;
    justify-content: center;
    margin-top: 20em;
    margin-bottom: 20em;
}

.formpop {
    display: flex;
    color: #D39E4D;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding: 10px;
    border-radius: 15px;
    background-color: #1B3444;
}

.formcontainer input[type=text],
.formcontainer textarea,
.formcontainer input[type=email] {
    width: 94%;
    padding: 15px;
    margin: 5px 0 22px 0;
    resize: none;
    border: none;
    background: #f1f1f1;
}

.formcontainer input[type=text]:focus,
.formcontainer textarea:focus,
.formcontainer input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

.formcontainer button {
    border: none;
    background-color: #D39E4D;
    color: whitesmoke;
    align-self: end;
    text-align: center;
    margin-right: 20px;
    padding: 5px;
    width: 60px;
    scale: 1.2;
}

.formcontainer button:hover {
    filter: brightness(90%);
}

/* .Bottomimg {
    position: absolute;
    background-image: url(Images/Group14.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    margin-bottom: 0;
    width: 1000px;
    height: 1024px;
    z-index: -1;
} */

footer {
    height: 100px;
    background-color: #1B3444;
}



/* Project Page CSS ///////////////////////////////////////////////////////////////////////////// */

.Title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 200px;
}

.Title .Banner {
    display: flex;
    justify-content: center;
    box-shadow: 0px 14px 20px black;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 40px;
    max-width: 900px;
    width: 100%;
    min-width: 100px;
    height: 80px;
    background-color: #1B3444;
}

.Title h1 {
    font-size: 50px;
    color: #D39E4D;
}

.ProjectContainter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 600px;
    margin-bottom: 500px;
}


.SelectorBar {
    display: flex;
    width: 100vw;
    height: 100px;
    margin-bottom: -100px;
    background-color: #2A4A7E;
    border-radius: 10px;
    z-index: 1;
}

.ButtonHolder {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.ButtonHolder button {
    background-color: transparent;
    align-self: center;
    border: none;
    font-size: large;
    color: #D39E4D;
    border-radius: 10px;
    width: 120px;
    height: 60px;
    z-index: 1;
}

.ButtonHolder .MoveablePill {
    position: absolute;
    align-self: center;
    background-color: #1B3444;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    transform: translateX(var(--Pill-Movement));
    transition: transform 0.5s ease;
}

.a {--Pill-Movement: calc(-100vw*0.23);}

.b {--Pill-Movement: calc(-100vw*0.075);}

.c {--Pill-Movement: calc(100vw*0.075);}

.d {--Pill-Movement: calc(100vw*0.23);}

.ProjectsList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-evenly;
}

.ProjectsList .Section {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* border: #D39E4D 8px solid; */
    background-color: #749CDE;
    border-radius: 10px;
    width: 100%;
    height: 800px;
}

.ProjectsList .Section .text{
    overflow: hidden;
    width: 0%;
    transition: 1s;
}

.ProjectsList .Section .text h1{
    margin-left: 20px;
    width: 700px;
}

.ProjectsList .Section .display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273c5e;
    width: 100%;
    transition: 1s;
}

.ProjectsList .Section .display div{
    background-color: rgba(0, 0, 0, 0.123);
    padding: 5px 20px;
    font-size: x-large;
    text-decoration: underline gray;
}


.ProjectsList .Section:nth-child(1) .display{
    background-image: url(Images/FirstWebsite.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.ProjectsList .Section:nth-child(1):hover .display{
    background-position: -400px;
    width: 60%;
} 

.ProjectsList .Section:nth-child(1):hover .text{
    width: 40%;
}


.ProjectsList .Section:nth-child(2) .display{
    background-image: url(Images/Combine.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.ProjectsList .Section:nth-child(2):hover .display{
    background-position: -400px;
    width: 60%;
} 

.ProjectsList .Section:nth-child(2):hover .text{
    width: 40%;
}


.ProjectsList .Section .display img {
    width: 100%;
}


.ProjectsList .Panel {
    background-color: #69696969;
    width: 100%;
}

.ProjectsList .Panel .Decor {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    border-right: 1px solid whitesmoke;
    padding-top: 10px;
    height: 97.7%;
    width: 30%;
    font-size: larger;
}

.ProjectsList .envalope {
    scale: 0.7;
    transform: translate(400px, 90px)
}


#NoResult {
    text-align: center;
    margin-top: 5cm;
    margin-right: 7vw;

    display: none;
}


.ProjectBackgroundContain {
    top: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 1020px;
    z-index: -1;
}

.ProjectBackground {
    background: url(Images/ScrollerProjects.jpg) repeat-x fixed center;
    background-size: 100vw;
    overflow: hidden;
    width: 7680px;
    min-height: 1020px;
    scale: 125%;
    animation: slide 10s linear infinite;
}

.ProjectBackgroundEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 400px 50px black;
    z-index: 1;
}


@keyframes slide {
    0% {
        transform: translate(0)
    }

    100% {
        transform: translate(-100vw);
    }
}

@supports (animation-timeline: view()) {
    @keyframes changeBg {
        0% {
            background-color: #2A4A7E;
            color: #ddd;
        }

        10%,
        100% {
            background-color: rgba(0, 0, 0, 0.439);
            color: whitesmoke;
        }
    }
}