html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
}

:root{
    --Pill-Movement:-350px
}

body {
    width: 100%;
    height: 100%;
    background-color: #f0f0ca;
    margin: 0;
}

.Topimg {
    position: absolute;
    background-image: url(Images/Group\ 15.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1000px;
    z-index: -1;
}

.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    background-color: #1B3444;
    height: 80px;
    width: 100%;
    z-index: 10;
    padding-top: 10px;
    top: 0;
}

.NavBar nav {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin-right: 8%;
}

.NavBar a {
    color: #F1F1DC;
    text-decoration: none;
    font-size: larger;
}

.NavBar .Logo {
    display: flex;
    align-items: center;
    color: #F1F1DC;
    margin-left: 1%;
}

.NavBar .Logo p {
    font-size: larger;
    margin-left: 5%;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 1;
    box-shadow: 10px 20px 5px rgba(0, 0, 0, 0.286);
    border-radius: 20px;
    margin-top: 15em;
    margin-left: 15%;
    width: 800px;
    height: 400px;
    background-color: #1B3444;
}

.Header img {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 5%;
    left: 5%;
}

.Header .Banner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #2A4A7E;
    color: #F1F1DC;
    align-self: flex-end;
    font-size: x-large;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: -20px;
    width: 400px;
    height: 180px;
}

.Header .Banner ul {
    overflow: hidden;
    scrollbar-width: none;
    color: #D39E4D;
    margin-top: -120px;
    margin-left: 80px;
    height: 85px;
    width: 185px;
    animation: typing 4s steps(30) infinite;
}

@keyframes typing {
    0% {
        width: 0%;
    }

    40%,
    60% {
        width: 100%;
    }

    80%,
    100% {
        width: 0%;
    }
}

.Header .Banner ul h1 {
    animation: scrolling 12s infinite;
}

@keyframes scrolling {

    0%,
    30% {
        transform: translateY(0px);
    }

    33%,
    60% {
        transform: translateY(-90px);
    }

    65%,
    100% {
        transform: translateY(-175px);
    }
}

.Header .About {
    background-color: #2A4A7E;
    color: #F1F1DC;
    text-align: center;
    font-size: x-large;
    width: 700px;
    height: 100px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
}

.Header .ScrollBtn button {
    position: absolute;
    background-color: #D39E4D;
    color: #F1F1DC;
    border: none;
    border-radius: 5px;
}

.Header .ScrollBtn .AboutScrollBtn {
    bottom: 15px;
    left: 55px;
    scale: 1.6;
    cursor: pointer;
}


.Header .ScrollBtn .ContactMeScrollBtn {
    bottom: 15px;
    left: 200px;
    scale: 1.5;
    cursor: pointer;
}

.AboutScrollBtn:active,
.ContactMeScrollBtn:active {
    filter: brightness(90%);
}








.HomeAbout {
    display: flex;
    flex-wrap: wrap;
    margin-top: 65em;
}

.HomeAbout .SectionOne,
.HomeAbout .SectionTwo {
    height: 400px;
    width: 800px;
    padding-left: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    border-radius: 20px;
    color: #D39E4D;
    background-color: #1B3444;
}






.FeaturedProjects {
    flex-wrap: wrap;
    margin-top: 250px;
    width: 100%;
    margin-top: 10em;
}

.FeaturedProjects .Head {
    background-color: #1B3444;
    text-align: center;
    color: #D39E4D;
    justify-self: center;
    border-radius: 15px;
    width: 350px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

}

.Projects .Section {
    width: 500px;
    height: 400px;
    box-shadow: 10px 5px;
    background-color: #1B3444;
    margin-top: 40px;
}

.Projects div .Notch {
    position: absolute;
    background-color: #D39E4D;
    box-shadow: none;
    width: 100px;
    height: 40px;
    margin-top: -250px;
    margin-left: 200px;
}

.Projects .Section h1 {
    color: whitesmoke;
    text-align: center;
}

.Projects .Section p {
    color: whitesmoke;
    text-align: center;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

.Projects div .Panel {
    overflow: hidden;
    background-color: #749CDE;
    width: 400px;
    height: 200px;
    margin-top: 5%;
    margin-left: 10%;

}





.FeaturedProjects .Projects .One .Panel {
    background-color: #69696969;
}

.FeaturedProjects .Projects .One .Panel .Decor {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    border-right: 1px solid whitesmoke;
    padding-top: 10px;
    height: 100%;
    width: 30%;
}




.FeaturedProjects .Projects .Two .Panel {
    display: flex
}

.FeaturedProjects .Projects .Two .Panel .Lightimg {
    width: 100%;
    clip-path: polygon(00% 00%, 100% 00%, 00% 100%);
}

.FeaturedProjects .Projects .Two .Panel .Darkimg {
    width: 100%;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    margin-left: -400px;
}



.FeaturedProjects .Projects .Three .Panel {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.FeaturedProjects .Projects .Three .Panel img {
    width: 135px;
    margin-right: -15%;
    margin-left: 5%;
}






.HomeContact {
    display: flex;
    justify-content: center;
    margin-top: 20em;
    margin-bottom: 20em;
}

.formpop {
    display: flex;
    color: #D39E4D;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding: 10px;
    border-radius: 15px;
    background-color: #1B3444;
}

.formcontainer input[type=text],
.formcontainer textarea,
.formcontainer input[type=email] {
    width: 94%;
    padding: 15px;
    margin: 5px 0 22px 0;
    resize: none;
    border: none;
    background: #f1f1f1;
}

.formcontainer input[type=text]:focus,
.formcontainer textarea:focus,
.formcontainer input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

.formcontainer button {
    border: none;
    background-color: #D39E4D;
    color: whitesmoke;
    align-self: end;
    text-align: center;
    margin-right: 20px;
    padding: 5px;
    width: 60px;
    scale: 1.2;
}

.formcontainer button:hover {
    filter: brightness(90%);
}

.Bottomimg {
    position: absolute;
    background-image: url(Images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    margin-bottom: 0;
    width: 1000px;
    height: 1024px;
    z-index: -1;
}

.Footer {
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #1B3444;
    z-index: 10;
}



/* Project Page CSS ///////////////////////////////////////////////////////////////////////////// */

.Title {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 8em;
}

.Title .Banner {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 40px;
    max-width: 900px;
    width: 100%;
    min-width: 100px;
    height: 80px;
    background-color: #1B3444;
}

.Title h1 {
    font-size: 50px;
    color: #D39E4D;
}

.ProjectContainter {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30em;
}

.ProjectContainter .Section {
    margin-top: 8%;
}

.SelectorBar {
    display: flex;
    max-width: 1500px;
    width: 100%;
    min-width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -8%;
    background-color: #2A4A7E;
    border-radius: 10px;
}

.ButtonHolder {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.ButtonHolder button {
    background-color: transparent;
    align-self: center;
    border: none;
    font-size: large;
    color: #D39E4D;
    border-radius: 10px;
    width: 120px;
    height: 60px;
    z-index: 1;
}

.ButtonHolder .MoveablePill {
    position: absolute;
    align-self: center;
    background-color: #1B3444;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    transform: translateX(var(--Pill-Movement));
    transition: transform 0.5s ease;
}

.a{
    --Pill-Movement:-350px
}

.b{
    --Pill-Movement:-120px
}

.c{
    --Pill-Movement:115px
}

.d{
    --Pill-Movement:350px
}